//grid settings
$total-columns  : 12;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$border-box-sizing: true;

//alternative layout breakpoints
$tablet: 47em;
$computer: 75em;

//this should be shown only in dev env
$show-grid-backgrounds  : true;

//colors
$body-background-color: #ebebeb;
$container-background-color: #e1ddda;
$body-copy-color: #333333;
$link-hover-color:#8dbc46;
$footer-background-color:#333333;
$footer-copy-color:#f7f7f7;

//default imports
//normalize is a css renamed to scss
//install susy & sassy-buttons using gem
//refer respective documents
@import 'normalize';
@import 'susy';
@import 'sassy-buttons';
