/* -----------------------------------------------*/
/* 	CSS for MemoriseBible 						  */
/*	Created by Joseph Jude (http://www.jjude.com)*/
/* ----------------------------------------------*/

@import 'base';

body{
    font-size: 1em;
    line-height: 1.4;	
	background:$body-background-color;
}

.container {
  padding-top: 10px;
  background: $container-background-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $body-copy-color;
  //@include susy-grid-background;
  @include container;
  //mobile first; so this is of the mobile
  header {
    text-align: center;
    h1 {
	  font-family: "Arial Black", Helvetica;
      font-weight: bold;
      font-size: 2em;
    }
    h3 {
      font-weight: normal;
      font-size: 1.2em;
    } //h3
  } //header
  
  .appshot{
  	text-align:center;
  }
  
  .copytext{
	  //think of clock; top, right, bottom, left
	  padding:0 10px 0 10px;
  }
  
  .buy{
	 text-align:center;	  
	  .buybutton{
	  	@include sassy-button("flat");
		text-decoration:none;
        &:hover {
            background: $link-hover-color;
        }
	  }
  }
  
  footer{
	  margin: 2em 0 2em 0;
	  padding: 2em 0 2em 0;
	  background: $footer-background-color;
	  color: $footer-copy-color;
	  & a{
		  color:$footer-copy-color;
	  }
	  & a:hover{
	  	color:$link-hover-color;
	  };
	  
	  text-align: center;
	  
  .newsletter{
	  #mc_embed_signup {
		form {
		      padding: 0 !important;
		}
		}
		#mc_embed_signup input[type=email].email {
		        font-size: 1.2em;
		        border: none;
		}
		#mc_embed_signup input[type=submit].button {
			@include sassy-button("flat");
			margin: 1em;
	        &:hover {
                background: $link-hover-color;
	        }
		}	 //sign-up button	
	} //newsletter
} //footer
  
} //container


@include at-breakpoint($tablet) {
  .container {
	  //to refresh grids at every breakpoint, you should include them at every breakpoint
	  //@include susy-grid-background;
	  //mention only the differing styles/properties
	  header {
	    h1 {
	      font-size: 3em;
	    }
	    h3 {
	      font-size: 1.5em;
	    } //h3
	  } //header	  
	  .herounit{
		  @include container;
		  .appshot{
		  	@include span-columns(3,12);
		  }
		  .copyblock{
			  @include prefix(1,12);
			  @include span-columns(8 omega, 12);
			  
			  padding-top: 150px;			  
		  }
	  }
  }
}

@include at-breakpoint($computer) {
  .container {
	  //to refresh grids at every breakpoint, you should include them at every breakpoint
	  //@include susy-grid-background;
  } //container
}
